<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест реакции на движение: период 0.9 с.</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/reaction/reactionTestTwo.css">
</head>
<body>

<div class="container">
    <div class="content">
        <img src="/img/reactionRed.png">
    </div>
    <div class="buttons">
        <button class="start-btn" id="nextBtn" data-url="/t/r/2?s=5">Далее</button>
        <button class="back-btn" id="backBtn" data-url="/t">В начало</button>
    </div>
</div>
<script src="/scripts/reaction/reactionTestTwo.js"></script>
</body>
</html>
