<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заучивание 10 слов: Этап 3</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/memory/memoryTestTwo.css">
</head>
<body>

<div class="container">
    <div class="content">
        <ul id="wordList" th:attr="data-words=${words != null ? words : '[]'}"></ul>
        <script th:inline="javascript">
            document.getElementById('wordList').setAttribute('data-words', JSON.stringify([[${words}]]));
        </script>
        <div class="input-container">
            <input type="text" id="newWordsInput" placeholder="Введите новые слова через запятую">
        </div>
    </div>
    <div class="buttons">
        <button class="start-btn" id="nextBtn" data-url="/t/m/2?s=4">Далее</button>
        <button class="back-btn" id="backBtn" data-url="/t/m/2?s=0">В начало</button>
    </div>
</div>
<script src="/scripts/memory/memoryTestTwo.js"></script>
</body>
</html>
