<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test 1</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/firstTestStyles.css}">
</head>
<body>

<div id="header">
    <button onclick="addRandomDigit()">Next</button>
    <button onclick="stop()">Stop</button>
    <button onclick="clearNumbers()">Clear</button>
    <span id="countNumbersSpan">Count: 0</span>
</div>

<div id="numbers">
    <div id="numberDiv">
        <span id="numberSpan"></span>
    </div>
</div>


<script>
    //статичные
    var stage = 0;
    var countNumbers = 0;
    var numberSpan = document.getElementById("numberSpan"); //место для чисел
    var currentColor = 0;
    //можно менять
    var allowedColors = ["#FF0000", "#FF7300", "#f6ff00", "#1aff00", "#00FFEE", "#3822ff", "#880094", "#ff00bf", "#5e2e2e"]; //используемые цвета
    var timeToAppear = 1000; // 1 секунда
    var changeTextColor = 0.7; // изменение темности цифр

    function addRandomDigit() {
        if (stage === 0) {
            var one = Math.floor(Math.random() * 10);
            var two = Math.floor(Math.random() * 10);
            var three = Math.floor(Math.random() * 10);
            numberSpan.textContent += one;
            numberSpan.textContent += two;
            numberSpan.textContent += three;
            countNumbers = 2;
        } else {
            var randomInt = Math.floor(Math.random() * 10);
            numberSpan.textContent += randomInt;
        }

        if (stage % 2 === 1) {
            var randomNum = Math.floor(Math.random() * 10);
            numberSpan.textContent += randomNum;
            countNumbers++;
        }

        // Вычисление масштаба текста, чтобы он всегда влезал
        var parentWidth = document.getElementById("numberDiv").offsetWidth;
        var textWidth = numberSpan.offsetWidth;
        var scaleFactor = parentWidth / textWidth;

        // Применение масштаба к размеру шрифта
        var fontSize = parseFloat(window.getComputedStyle(numberSpan).fontSize);
        if (fontSize * scaleFactor <= 700) {
            numberSpan.style.fontSize = (fontSize * scaleFactor) + "px";
        } else {
            numberSpan.style.fontSize = 700 + "px";
        }
        countNumbers++;
        stage++;

        //Скрыть цифры
        numberSpan.style.visibility = "visible";
        setTimeout(function() {
            numberSpan.style.visibility = "hidden";
        }, timeToAppear);

        document.getElementById("countNumbersSpan").textContent = "Count: " + countNumbers;
    }

    function stop() {
        numberSpan.style.visibility = "visible";
        document.getElementById("countNumbersSpan").textContent = "Count: " + countNumbers;

        console.log("MaxNumbers:" + countNumbers)
        console.log("Numbers:" + numberSpan.textContent)

        stage = 0;
        countNumbers = 0;
    }

    function clearNumbers() {
        numberSpan.textContent = "";
    }

    // Функция для уменьшения интенсивности цвета
    function darkenColor(color, factor) {
        var r = parseInt(color.slice(1, 3), 16);
        var g = parseInt(color.slice(3, 5), 16);
        var b = parseInt(color.slice(5, 7), 16);

        r = Math.floor(r * factor);
        g = Math.floor(g * factor);
        b = Math.floor(b * factor);

        return "#" + toHex(r) + toHex(g) + toHex(b);
    }

    // Функция для преобразования числа в 16-ричный формат с двумя символами
    function toHex(number) {
        var hex = number.toString(16);
        return hex.length === 1 ? "0" + hex : hex;
    }

    document.addEventListener("keyup", function (event) {
        if (event.key === "Enter") {
            addRandomDigit();
        }
        if (event.key === "z" || event.key === "я") {
            currentColor = (currentColor + 1) % allowedColors.length;
            var color = allowedColors[currentColor];
            console.log("Color:" + color)

            document.body.style.backgroundColor = color;

            var textColor = darkenColor(color, changeTextColor);
            document.body.style.color = textColor;
        }
        if (event.key === "s" || event.key === "ы") {
            stop();
        }
        if (event.key === "c" || event.key === "с") {
            clearNumbers();
        }
        if (event.key === "n" || event.key === "т") {
            window.location.href = "/second"
        }
    });


</script>

</body>
</html>
