<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test 2</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/firstTestStyles.css}">
</head>
<body>

<div id="header">
    <button onclick="makeMath()">Next</button>
    <button onclick="clearNumbers()">Clear</button>
</div>

<div id="numbers">
    <div id="numberDiv">
        <span id="numberSpan"></span>
    </div>
</div>



<script>
    //статичные
    var stage = 1;
    var numberSpan = document.getElementById("numberSpan"); //место для чисел
    var userInput = 0;
    var trueAnswer = 0;
    var correctUserAnswersCount = 0;
    var hasTime = true;
    var currentColor = 0;
    //можно менять
    var allowedColors = ["#FF0000", "#FF8000", "#FFFF00", "#00FF00", "#00FFEE", "#2231ff", "#7b00ff", "#FF00EE", "#4f2d2d"]; //используемые цвета
    var changeTextColor = 0.7; // изменение темности цифр
    var timeToTest = 60000; //60 сек на тест

    function makeMath() {
        if (stage === 1) {
            // Устанавливаем задержку
            setTimeout(function() {
                hasTime = false // После задержки кнопка "Next" станет неактивной
                console.log("Stage:" + stage);
                console.log("Сrrct:" + correctUserAnswersCount);
            }, timeToTest);
        }
        numberSpan.textContent = "";

        var type = Math.floor(Math.random() * 3);

        //+
        if (type === 0) {
            var firstP = Math.floor(Math.random() * 10);
            var secondP = Math.floor(Math.random() * 10);
            numberSpan.textContent += firstP + "+" + secondP + "=";
            trueAnswer = firstP + secondP;
        }
        //-
        if (type === 1) {
            var firstM = Math.floor(Math.random() * 10);
            var secondM = Math.floor(Math.random() * 10);
            numberSpan.textContent += firstM + "-" + secondM + "=";
            trueAnswer = firstM - secondM;

        }
        //*
        if (type === 2) {
            var first = Math.floor(Math.random() * 10);
            var second = Math.floor(Math.random() * 9);
            numberSpan.textContent += first + "×" + second + "=";
            trueAnswer = first * second;
        }

        // Вычисление масштаба текста, чтобы он всегда влезал
        var parentWidth = document.getElementById("numberDiv").offsetWidth;
        var textWidth = numberSpan.offsetWidth;
        var scaleFactor = parentWidth / textWidth;

        // Применение масштаба к размеру шрифта
        var fontSize = parseFloat(window.getComputedStyle(numberSpan).fontSize);
        if (fontSize * scaleFactor <= 400) {
            numberSpan.style.fontSize = (fontSize * scaleFactor) + "px";
        } else {
            numberSpan.style.fontSize = 400 + "px";
        }
        stage++;
        userInput = "";
    }

    function clearNumbers() {
            numberSpan.textContent = "";
            userInput = "";
            stage = 1;
            correctUserAnswersCount = 0;
            hasTime = true;

    }
    // Функция для уменьшения интенсивности цвета
    function darkenColor(color, factor) {
        var r = parseInt(color.slice(1, 3), 16);
        var g = parseInt(color.slice(3, 5), 16);
        var b = parseInt(color.slice(5, 7), 16);

        r = Math.floor(r * factor);
        g = Math.floor(g * factor);
        b = Math.floor(b * factor);

        return "#" + toHex(r) + toHex(g) + toHex(b);
    }
    // Функция для преобразования числа в 16-ричный формат с двумя символами
    function toHex(number) {
        var hex = number.toString(16);
        return hex.length === 1 ? "0" + hex : hex;
    }

    document.addEventListener("keyup", function (event) {

        if (event.key === "Enter" && hasTime) {
            if (userInput == trueAnswer) {
                correctUserAnswersCount++;
            }
            makeMath();
        } else if (!isNaN(event.key) || event.key === "-" || event.key === "Backspace") {

            if (event.key === "Backspace") {
                numberSpan.textContent = numberSpan.textContent.slice(0, -1);
                userInput = userInput.slice(0, -1);
            } else {
                numberSpan.textContent += event.key;
                userInput += "" + event.key;
            }
        }
        if (event.key === "z") {
            currentColor = (currentColor + 1) % allowedColors.length;
            var color = allowedColors[currentColor];
            console.log("Color:" + color)

            document.body.style.backgroundColor = color;

            var textColor = darkenColor(color, changeTextColor);
            document.body.style.color = textColor;
        }
        if (event.key === "c") {
            clearNumbers();
        }

    });
</script>

</body>
</html>
