<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тесты</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/tests.css">
</head>
<body>
<header>
    <button id="newParticipantBtn">Новый участник</button>
</header>
<main>
    <div class="column">
        <h2>Внимание</h2>
        <div class="block" data-url="/t/a/1?s=0" th:text="${t1}"></div>
        <div class="block" data-url="/t/a/2?s=0" th:text="${t6}"></div>
    </div>
    <div class="column">
        <h2>Память</h2>
        <div class="block" data-url="/t/m/1?s=0" th:text="${t2}"></div>
        <div class="block" data-url="/t/m/2?s=0" th:text="${t7}"></div>
    </div>
    <div class="column">
        <h2>Реакция</h2>
        <div class="block" data-url="/t/r/1?s=0" th:text="${t3}"></div>
        <div class="block" data-url="/t/r/2?s=0" th:text="${t8}"></div>
    </div>
    <div class="column">
        <h2>Обработка информации</h2>
        <div class="block" data-url="/t/p/1?s=0" th:text="${t4}"></div>
        <div class="block" data-url="/t/p/2?s=0" th:text="${t5}"></div>
    </div>
</main>
<script src="/scripts/tests.js"></script>
</body>
</html>
