<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест Обработки визуальной информации</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/processing/processingTestOne.css">
</head>
<body>

<div class="container">
    <div class="content">
        <p id="numbers" th:text="${numbers}"></p>
    </div>
    <div class="buttons">
    </div>
</div>
<script src="/scripts/processing/processingTestOne.js"></script>
<script src="/scripts/processing/timeout.js"></script>
</body>
</html>
