<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест Обработки визуальной информации</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/processing/processingTestOne.css">
</head>
<body>

<div class="container">
    <div class="content">
        <h4 th:text="${name}"></h4>
        <p th:utext="${desc}"></p>
        <h4>Исследуется</h4>
        <p>Скорость и точность обработки поступающих сигналов</p>
        <h4>Проведение теста</h4>
        <p>На экране отображается 5 случайных чисел. Потом сменяется экран, и если числа не изменились, то<br>
        необходимо нажать на <strong>пробел</strong> для подтверждения. Иначе ничего не делать.<br>
        При этом цифры могут изменяться все, а может только одна - это ловушка, в этом случае ничего не делать.</p>
    </div>
    <div class="buttons">
        <button class="start-btn" id="nextBtn" data-url="/t/p/1?s=1">Начать</button>
        <button class="back-btn" id="backBtn" data-url="/t">Обратно</button>
    </div>
    <p><a href="https://elibrary.ru/item.asp?doi=10.31857/S0131164621010069">Статья</a></p>
</div>
<script src="/scripts/processing/processingTestOne.js"></script>
</body>
</html>
