<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест Обработки звуковой информации</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/processing/processingTestOne.css">
</head>
<body>

<div class="container">
    <div class="content">
        <h4 th:text="${name}"></h4>
        <p th:utext="${desc}"></p>
        <h4>Исследуется</h4>
        <p>Скорость и точность обработки поступающих сигналов</p>
        <h4>Проведение теста</h4>
        <p>Вы будет слышать звук, если звук целевой (прослушайте далее), то<br>
        следует нажать на пробел для подтверждения. Если звук отличается от целевого (прослушаете далее), то ничего не делать.<br>
        В тесте используется только 2 звука - целевой и нецелевой.</p>
    </div>
    <div class="buttons">
        <button class="start-btn" id="nextBtn" data-url="/t/p/2?s=1">Начать</button>
        <button class="back-btn" id="backBtn" data-url="/t">Обратно</button>
    </div>
</div>
<script src="/scripts/processing/processingTestOne.js"></script>
</body>
</html>
