<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест Струпа</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/attention/attentionTestOne.css">
</head>
<body>

<div class="container">
    <div class="content">
        <h3>Тест успешно пройден!</h3>
        <h4>Результаты:</h4>
        <p>Результаты участника относительно всех, кто прошел и оригинального тестирования</p>
    </div>
    <div class="buttons">
        <button class="back-btn" id="backBtn" data-url="/t">К тестам</button>
    </div>
</div>
<script src="/scripts/attention/attentionTestOne.js"></script>
</body>
</html>
