<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест Струпа: этап 2</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/attention/attentionTestOne.css">
</head>
<body>

<div class="container">
    <div class="content">
        <table class="table-content">
            <tbody>
            <tr>
                <td>синий</td>
                <td>зеленый</td>
                <td>коричневый</td>
                <td>фиолетовый</td>
                <td>синий</td>
                <td>зеленый</td>
                <td>коричневый</td>
                <td>красный</td>
                <td>фиолетовый</td>
                <td>красный</td>
            </tr>
            <tr>
                <td>красный</td>
                <td>фиолетовый</td>
                <td>красный</td>
                <td>синий</td>
                <td>зеленый</td>
                <td>коричневый</td>
                <td>фиолетовый</td>
                <td>коричневый</td>
                <td>зеленый</td>
                <td>синий</td>
            </tr>
            <tr>
                <td>коричневый</td>
                <td>красный</td>
                <td>фиолетовый</td>
                <td>зеленый</td>
                <td>коричневый</td>
                <td>фиолетовый</td>
                <td>синий</td>
                <td>щеленый</td>
                <td>синий</td>
                <td>красный</td>
            </tr>
            <tr>
                <td>фиолетовый</td>
                <td>синий</td>
                <td>зеленый</td>
                <td>коричневый</td>
                <td>красный</td>
                <td>синий</td>
                <td>красный</td>
                <td>фиолетовый</td>
                <td>зеленый</td>
                <td>коричневый</td>
            </tr>
            <tr>
                <td>зеленый</td>
                <td>коричневый</td>
                <td>красный</td>
                <td>синий</td>
                <td>коричневый</td>
                <td>красный</td>
                <td>фиолетовый</td>
                <td>зеленый</td>
                <td>синий</td>
                <td>фиолетовый</td>
            </tr>
            <tr>
                <td>синий</td>
                <td>коричневый</td>
                <td>фиолетовый</td>
                <td>зеленый</td>
                <td>красный</td>
                <td>фиолетовый</td>
                <td>коричневый</td>
                <td>синий</td>
                <td>красный</td>
                <td>зеленый</td>
            </tr>
            <tr>
                <td>коричневый</td>
                <td>красный</td>
                <td>синий</td>
                <td>фиолетовый</td>
                <td>зеленый</td>
                <td>синий</td>
                <td>зеленый</td>
                <td>коричневый</td>
                <td>красный</td>
                <td>фиолетовый</td>
            </tr>
            <tr>
                <td>зеленый</td>
                <td>фиолетовый</td>
                <td>коричневый</td>
                <td>красный</td>
                <td>синий</td>
                <td>зеленый</td>
                <td>красный</td>
                <td>фиолетовый</td>
                <td>коричневый</td>
                <td>синий</td>
            </tr>
            <tr>
                <td>фиолетовый</td>
                <td>синий</td>
                <td>зеленый</td>
                <td>красный</td>
                <td>фиолетовый</td>
                <td>коричневый</td>
                <td>синий</td>
                <td>красный</td>
                <td>коричневый</td>
                <td>зеленый</td>
            </tr>
            <tr>
                <td>красный</td>
                <td>зеленый</td>
                <td>синий</td>
                <td>коричневый</td>
                <td>фиолетовый</td>
                <td>красный</td>
                <td>зеленый</td>
                <td>синий</td>
                <td>фиолетовый</td>
                <td>коричневый</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <button class="start-btn" id="nextBtn" data-url="/t/a/1?s=3">Далее</button>
        <button class="back-btn" id="backBtn" data-url="/t/a/1?s=1">Обратно</button>
    </div>
</div>
<script src="/scripts/attention/attentionTestOne.js"></script>
</body>
</html>
