<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест Струпа</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/attention/attentionTestOne.css">
</head>
<body>

<div class="container">
    <div class="content">
        <h4 th:text="${name}"></h4>
        <p th:text="${desc}"></p>
        <h4>Исследуется</h4>
        <p>Способность человека к реагированию на нестандартные сочетания</p>
        <h4>Проведение теста</h4>
        <p>Участнику необходимо по сигналу нажать на таймер на экране после чего зачитывать в слух как можно быстрее и точнее название слова - для первых двух.</p>
        <p>А после название цвета слова/квадрата. За каждую ошибку так же начисляется штрафное время.</p>
        <h4>Таких слов НЕ будет:</h4>
        <p>
            <span style="color:var(--re)">красный</span>,
            <span style="color:var(--bl)">синий</span>,
            <span style="color:var(--gr)">зеленый</span>,
            <span style="color:var(--br)">коричневый</span>,
            <span style="color:var(--pu)">фиолетовый</span>
        </p>
        <h4>Пример слов и квадратов:</h4>
        <p>
            <span style="color:var(--re)">синий</span>,
            <span style="color:var(--re)">зеленый</span>,
            <span style="color:var(--bl)">зеленый</span>,
            <span style="color:var(--gr)">фиолетовый</span>,
            <span style="color:var(--bl)">коричневый</span>,
            <span style="color:var(--gr)">красный</span>,
            <span style="color:var(--br)">красный</span>,
            <span style="color:var(--br)">█</span>,
            <span style="color:var(--gr)">█</span>,
            <span style="color:var(--pu)">█</span>
        </p>
    </div>
    <div class="buttons">
        <button class="start-btn" id="nextBtn" data-url="/t/a/1?s=1">Начать</button>
        <button class="back-btn" id="backBtn" data-url="/t">Обратно</button>
    </div>
</div>
<script src="/scripts/attention/attentionTestOne.js"></script>
</body>
</html>
