<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест Струпа: этап 4</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/attention/attentionTestOne.css">
</head>
<body>

<div class="container">
    <div class="content">
        <table class="table-content">
        <tbody>
        <tr>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--bl)">█</td>
        </tr>
        <tr>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--gr)">█</td>
        </tr>
        <tr>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--pu)">█</td>
        </tr>
        <tr>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--re)">█</td>
        </tr>
        <tr>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--pu)">█</td>
        </tr>
        <tr>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--br)">█</td>
        </tr>
        <tr>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--br)">█</td>
        </tr>
        <tr>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--re)">█</td>
        </tr>
        <tr>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--bl)">█</td>
        </tr>
        <tr>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--re)">█</td>
            <td style="color: var(--gr)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--br)">█</td>
            <td style="color: var(--pu)">█</td>
            <td style="color: var(--bl)">█</td>
            <td style="color: var(--gr)">█</td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="buttons">
        <button class="start-btn" id="nextBtn" data-url="/t/a/1?s=5">Далее</button>
        <button class="back-btn" id="backBtn" data-url="/t/a/1?s=3">Обратно</button>
    </div>
</div>
<script src="/scripts/attention/attentionTestOne.js"></script>
</body>
</html>
