<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест Струпа: этап 3</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/attention/attentionTestOne.css">
</head>
<body>

<div class="container">
    <div class="content">
        <table class="table-content">
        <tbody>
        <tr>
            <td style="color: var(--br)">синий</td>
            <td style="color: var(--re)">зеленый</td>
            <td style="color: var(--gr)">коричневый</td>
            <td style="color: var(--br)">фиолетовый</td>
            <td style="color: var(--pu)">синий</td>
            <td style="color: var(--bl)">зеленый</td>
            <td style="color: var(--br)">коричневый</td>
            <td style="color: var(--bl)">красный</td>
            <td style="color: var(--re)">фиолетовый</td>
            <td style="color: var(--gr)">красный</td>
        </tr>
        <tr>
            <td style="color: var(--bl)">красный</td>
            <td style="color: var(--gr)">фиолетовый</td>
            <td style="color: var(--bl)">красный</td>
            <td style="color: var(--pu)">синий</td>
            <td style="color: var(--re)">зеленый</td>
            <td style="color: var(--gr)">коричневый</td>
            <td style="color: var(--re)">фиолетовый</td>
            <td style="color: var(--pu)">коричневый</td>
            <td style="color: var(--br)">зеленый</td>
            <td style="color: var(--pu)">синий</td>
        </tr>
        <tr>
            <td style="color: var(--gr)">коричневый</td>
            <td style="color: var(--pu)">красный</td>
            <td style="color: var(--br)">фиолетовый</td>
            <td style="color: var(--bl)">зеленый</td>
            <td style="color: var(--pu)">коричневый</td>
            <td style="color: var(--gr)">фиолетовый</td>
            <td style="color: var(--re)">синий</td>
            <td style="color: var(--br)">щеленый</td>
            <td style="color: var(--re)">синий</td>
            <td style="color: var(--pu)">красный</td>
        </tr>
        <tr>
            <td style="color: var(--re)">фиолетовый</td>
            <td style="color: var(--br)">синий</td>
            <td style="color: var(--bl)">зеленый</td>
            <td style="color: var(--pu)">коричневый</td>
            <td style="color: var(--gr)">красный</td>
            <td style="color: var(--pu)">синий</td>
            <td style="color: var(--bl)">красный</td>
            <td style="color: var(--gr)">фиолетовый</td>
            <td style="color: var(--br)">зеленый</td>
            <td style="color: var(--re)">коричневый</td>
        </tr>
        <tr>
            <td style="color: var(--pu)">зеленый</td>
            <td style="color: var(--bl)">коричневый</td>
            <td style="color: var(--pu)">красный</td>
            <td style="color: var(--re)">синий</td>
            <td style="color: var(--bl)">коричневый</td>
            <td style="color: var(--br)">красный</td>
            <td style="color: var(--gr)">фиолетовый</td>
            <td style="color: var(--re)">зеленый</td>
            <td style="color: var(--gr)">синий</td>
            <td style="color: var(--br)">фиолетовый</td>
        </tr>
        <tr>
            <td style="color: var(--pu)">синий</td>
            <td style="color: var(--re)">коричневый</td>
            <td style="color: var(--gr)">фиолетовый</td>
            <td style="color: var(--bl)">зеленый</td>
            <td style="color: var(--gr)">красный</td>
            <td style="color: var(--re)">фиолетовый</td>
            <td style="color: var(--pu)">коричневый</td>
            <td style="color: var(--br)">синий</td>
            <td style="color: var(--bl)">красный</td>
            <td style="color: var(--br)">зеленый</td>
        </tr>
        <tr>
            <td style="color: var(--gr)">коричневый</td>
            <td style="color: var(--pu)">красный</td>
            <td style="color: var(--br)">синий</td>
            <td style="color: var(--re)">фиолетовый</td>
            <td style="color: var(--gr)">зеленый</td>
            <td style="color: var(--pu)">синий</td>
            <td style="color: var(--br)">зеленый</td>
            <td style="color: var(--pu)">коричневый</td>
            <td style="color: var(--bl)">красный</td>
            <td style="color: var(--gr)">фиолетовый</td>
        </tr>
        <tr>
            <td style="color: var(--re)">зеленый</td>
            <td style="color: var(--gr)">фиолетовый</td>
            <td style="color: var(--pu)">коричневый</td>
            <td style="color: var(--br)">красный</td>
            <td style="color: var(--bl)">синий</td>
            <td style="color: var(--br)">зеленый</td>
            <td style="color: var(--gr)">красный</td>
            <td style="color: var(--bl)">фиолетовый</td>
            <td style="color: var(--pu)">коричневый</td>
            <td style="color: var(--re)">синий</td>
        </tr>
        <tr>
            <td style="color: var(--bl)">фиолетовый</td>
            <td style="color: var(--br)">синий</td>
            <td style="color: var(--re)">зеленый</td>
            <td style="color: var(--gr)">красный</td>
            <td style="color: var(--br)">фиолетовый</td>
            <td style="color: var(--re)">коричневый</td>
            <td style="color: var(--pu)">синий</td>
            <td style="color: var(--re)">красный</td>
            <td style="color: var(--gr)">коричневый</td>
            <td style="color: var(--bl)">зеленый</td>
        </tr>
        <tr>
            <td style="color: var(--pu)">красный</td>
            <td style="color: var(--br)">зеленый</td>
            <td style="color: var(--re)">синий</td>
            <td style="color: var(--gr)">коричневый</td>
            <td style="color: var(--re)">фиолетовый</td>
            <td style="color: var(--pu)">красный</td>
            <td style="color: var(--bl)">зеленый</td>
            <td style="color: var(--gr)">синий</td>
            <td style="color: var(--br)">фиолетовый</td>
            <td style="color: var(--bl)">коричневый</td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="buttons">
        <button class="start-btn" id="nextBtn" data-url="/t/a/1?s=4">Далее</button>
        <button class="back-btn" id="backBtn" data-url="/t/a/1?s=2">Обратно</button>
    </div>
</div>
<script src="/scripts/attention/attentionTestOne.js"></script>
</body>
</html>
