<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест Струпа</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/attention/attentionTestOne.css">
</head>
<body>

<div class="container">
    <div class="content">
        <h4 th:text="${name}"></h4>
        <p th:utext="${desc}"></p>
        <h4>Исследуется</h4>
        <p>Тест исследует скорость обработки информации, избирательное внимание и когнитивный контроль.</p>
        <p>Он выявляет, как мозг справляется с интерференцией между автоматическими и контролируемыми процессами.</p>
        <h4>Проведение теста</h4>
        <p>Участнику необходимо по сигналу нажать на таймер на экране после чего зачитывать в слух как можно быстрее и точнее:
        <br>Этапы 1 и 2 - зачитывать сами слова (а не их цвет)
        <br>Этапы 3 и 4 - зачитывать цвет слова/квадрата (а не сами буквы).
        <br>На этих этапах за каждую ошибку дается дополнительное время к итогвому</p>
        <h4>Таких слов НЕ будет:</h4>
        <p>
            <span style="color:var(--re)">красный</span>,
            <span style="color:var(--bl)">синий</span>,
            <span style="color:var(--gr)">зеленый</span>,
            <span style="color:var(--br)">коричневый</span>,
            <span style="color:var(--pu)">фиолетовый</span>
        </p>
        <h4>Пример слов и квадратов:</h4>
        <p>
            <span style="color:var(--re)">синий</span>,
            <span style="color:var(--re)">зеленый</span>,
            <span style="color:var(--bl)">зеленый</span>,
            <span style="color:var(--gr)">фиолетовый</span>,
            <span style="color:var(--bl)">коричневый</span>,
            <span style="color:var(--gr)">красный</span>,
            <span style="color:var(--br)">красный</span>,
            <span style="color:var(--br)">█</span>,
            <span style="color:var(--gr)">█</span>,
            <span style="color:var(--pu)">█</span>
        </p>
    </div>
    <div class="buttons">
        <button class="start-btn" id="nextBtn" data-url="/t/a/1?s=1">Начать</button>
        <button class="back-btn" id="backBtn" data-url="/t">Обратно</button>
    </div>
</div>
<script src="/scripts/attention/attentionTestOne.js"></script>
</body>
</html>
