body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    margin-top: 50px;
}

.circle {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px auto;
}

.marker {
    width: 20px; /* Увеличено на 100% */
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.moving-dot {
    width: 15px; /* Увеличено на 50% */
    height: 15px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    transform-origin: center -95px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: none; /* Кнопки скрыты до завершения теста */
}
